<%include partials/header.ejs%>
<h1>Flower List </h1>
<% var flower_list = flowerlist%>
<% flower_list.forEach(function (flower) { %>
  <li><strong><%= flower.flower%> : </strong><%=flower.color%></li>
<% });%>
<%include partials/footer.ejs%>